<div class="container-md h-100 d-flex justify-content-center">
    <div class="m-5">
        <!-- To Add and Refresh the data -->
        <nav class="mb-4 navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Welcome</a>
            <form class="form-inline">
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="goBack()">Go Back</button>
            </form>
        </nav>
        <ul class="border border-success list-group">
            <li class="list-group-item">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group m-2" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{category || "Select Category"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a *ngFor="let cat of categories" class="dropdown-item" (click)="category = cat">{{cat}}</a>
                        </div>
                    </div>
                    <div class="input-group m-2">
                      <div class="input-group-prepend d-none d-sm-block">
                        <div class="input-group-text">Subcategory</div>
                      </div>
                      <input type="text" class="form-control" placeholder="Add Subcategory" [(ngModel)]="subcategory">
                    </div>
                    <div class="btn-group m-2" role="group">
                        <button type="button" class="btn btn-primary" (click)="add({category: category,subcategory: subcategory})">Add</button>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <button type="button" class="btn btn-success" (click)="reload()">Refresh</button>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Error Message -->
        <div *ngIf="errMsg" class=" mt-4 alert alert-danger" role="alert">
            {{errMsg}}
        </div>
        <!-- Show List of Data -->
        <ul *ngIf="list.length" class="mt-4 border border-info list-group">
            <li *ngFor="let item of list;let i=index;" class="list-group-item">
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div *ngIf="!item.modify" class="btn-group" role="group" aria-label="First group">
                      <span class="lead mr-4">{{item.category}}</span>
                      <span class="lead mr-4">{{item.subcategory}}</span>
                    </div>
                    <div *ngIf="item.modify" class="btn-group mr-4" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{item.category || "Select Category"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a *ngFor="let cat of categories" class="dropdown-item" (click)="item.category = cat">{{cat}}</a>
                        </div>
                    </div>
                    <div *ngIf="item.modify" class="input-group mr-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Subcategory</div>
                      </div>
                      <input type="text" class="form-control" placeholder="Add Subcategory" [(ngModel)]="item.subcategory">
                    </div>
                    <div class="input-group">
                        <button *ngIf="!item.modify" type="button" class="btn btn-primary mr-4" (click)="modify(i)">Modify</button>
                        <button *ngIf="item.modify" type="button" class="btn btn-success mr-4" (click)="save(i)">save</button>
                        <button type="button" class="btn btn-danger" (click)="delete(i)">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
        <div *ngIf="!list.length" class=" mt-4 alert alert-primary" role="alert">
            Please Add some Items
        </div>
    </div>
</div>